extends base
block content
  ul#menu
    li(data-menuanchor="page1" class="active")
      a(href="#page1") Page 1
    li(data-menuanchor="page2")
      a(href="#page2") Page 2
    li(data-menuanchor="page3")
      a(href="#page3") Page 3
    li(data-menuanchor="page4")
      a(href="#page4") Page 4
  #pagepiling
    .section#section1
      h1 pagePiling.js
      p Create an original scrolling site
    .section#section2
      .intro
        h1 jQuery plugin
        p Pile your sections one over another and access them scrolling or by URL!
    .section#section3
      .intro
        h1 Configurable
        p Plenty of options, methods and callbacks to use.
    .section#section4
      .intro
        h1 Compatible
        p Designed to work on tablet and mobile devices.



